.aboutContact_container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    gap: 5rem;
    margin: auto;
    padding: 5rem;
    background-color: var(--secondary);
    border-radius: 1.25rem;
    align-items: flex-start;
}

.about,
.contact {
    flex: 1;
    min-width: 0;
}

.about h2,
.contact h2 {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.para {
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto;
    text-align: left;
    font-size: 1.1rem;
}

.contact_list {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5;
}

.contact_list a {
    text-decoration: none;
    list-style: inside;
    display: flex;
    gap: 0.5rem;
}

.contact_list p {
    transition: transform 200ms linear;
}

.contact_list a:hover {
    color: var(--accent);
}   

.contact_list p:hover {
    transform: scale(1.1);
}