.certificates_container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    overflow-x: hidden;
    background-color: var(--secondary);
}

.certificate_heading h2 {
    margin-bottom: 1rem;
    text-decoration: underline;
    text-align: center;
}

.certificate_scroll {
    display: flex;
    gap: 1rem;
    animation: certificateScroll 10s linear 1s infinite alternate;
}

.certificate_chip {
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.certificate_image {
    object-fit: cover;
    border-radius: 0.5rem;
}

.certificate_scroll:hover {
    animation-play-state: paused;
}

.certificate_chip:hover {
    border: 1px solid var(--accent);
}



@keyframes certificateScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes certificateScrollPhone {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-45%);
    }

}


@media screen and (max-width: 600px) {
    .certificates_section {
        scroll-margin-top: 7rem;
        overflow-y: hidden;
    }

    .certificates_container {
        height: 23rem;
        padding: 0.5rem;
        place-items: center;
    }

    .certificate_chip {
        width: 24.375rem;
        height: 21.875rem;
        place-items: center;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        justify-content: start;
    }

    .certificate_chip p {
        padding: 0.5rem;

    }

    .certificate_image {
        object-fit: cover;
        width: 23.75rem;
        height: 23.75rem;
        padding: 1rem;
        border-radius: 1rem;
    }

    .certificate_scroll {
        animation: certificateScrollPhone 10s linear 1s infinite alternate;
    }

}