.certificatesContainer {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    overflow-x: hidden;
    background-color: var(--secondary);
}

.certificate_heading {
    place-items: center;
}

.certificate_heading h2 {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.certificateScroll {
    display: flex;
    gap: 1rem;
    animation: certificateScroll 10s linear 1s infinite alternate-reverse;
}

.certificateChip {
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.certificateImage {
    object-fit: cover;
    border-radius: 1rem;
}

.certificateScroll:hover {
    animation-play-state: paused;
}

@keyframes certificateScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}