
.headerSection {
    background-color: var(--background);
    display: flex;
    align-items: center;
    margin: auto;
    box-shadow: var(--offset);
    border-radius: 20px;
}

.headerTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.circleAvatar {
    background-color: var(--secondary);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;
}

.title {
    width: 18.75rem;
    height: 3.2rem;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList {
    display: flex;
    gap: 1.2rem;
    padding: 2rem;
}

.navItems a{
    text-decoration: none;
    background-color: var(--background);
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--offset);
    color: var(--accent);
    font-weight: bold;
}

.navItems:hover {
    transform: translateY(-1.2);
}