.header_section {
    background-color: var(--background);
    display: flex;
    align-items: center;
    margin: auto;
    box-shadow: var(--offset);
    border-radius: 20px;
}

.header_title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.circle_avatar{
    background-color: var(--primary);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline 2px;
    font-weight: bold;
    border: 2px solid var(--secondary);
}

.title {
    width: 18.75rem;
    height: 3.2rem;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_list {
    display: flex;
    gap: 1.2rem;
    padding: 1rem;
}

.nav_items {
    background-color: var(--background);
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--offset);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    color: var(--accent);
}

.nav_items:hover {
    transform: translateY(var(--buttonTranslateY));
}

.nav_items:active {
    box-shadow: var(--insetOffset);
    transform: scale(0.95);
}