.heroSection {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    padding: 4rem;
}

.heroTitle {
    font-size: 30px;
}

.heroContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 48rem;
}

.skillsContainer {
    height: 20%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.skillsTrack {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    animation: scrollSkills 20s linear 2s infinite alternate;
}

.skillChip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillIcon {
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: larger;
    margin-bottom: 8px;
}

.skillLabel {
    font-weight: bold;
    word-wrap: break-word;
    font-size: medium;
}


.heroButtonContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.heroButton {
    background-color: var(--background);
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--offset);
    place-content: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--accent);
    font-size: 1.37rem;
}

.heroButton:hover {
    transform: translateY(-1.2);
}

.heroButton:active {
    box-shadow: var(--insetOffset);
    transform: scale(0.95);
}


.heroImage {
    width: 25rem;
    height: 30rem;
    border-radius: 1rem;
    object-fit: cover;
    border: 2px solid var(--accent);
}

@keyframes scrollSkills {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    
}