.hero_section {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    padding: 4rem;
    max-width: 100vw;
}

.hero_title {
    font-size: 1.87rem;
}

.hero_para1 {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 10px;
}

.hero_para2 {
    font-weight: bold;
    font-size: 1.37rem;
    padding: 10px;
}

.hero_contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 48rem;
}

.skills_container {
    height: 20%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.skills_track {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    animation: scrollSkills 20s linear 2s infinite alternate;
}

.skill_chip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill_icon {
    padding: 1rem;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: larger;
    margin-bottom: 8px;
}

.skill_label {
    font-weight: bold;
    word-wrap: break-word;
    font-size: medium;
}

.skill_head {
    margin-top: 1rem;
    place-self: center;
    font-weight: bold;
    font-size: 1.25rem;
}


.hero_button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.hero_button {
    background-color: var(--background);
    -webkit-tap-highlight-color: transparent;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--offset);
    place-content: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--accent);
    font-size: 1.2rem;
    transition: transform 200ms ease;
}

.hero_button:focus {
    outline: none;
}

.hero_button:hover {
    transform: scale(1.05);
}

.hero_button:active {
    box-shadow: var(--insetOffset);
    transform: scale(0.95);
}


.hero_image {
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    object-fit: cover;
    border: 2px solid var(--accent);
}

@keyframes scrollSkills {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

@media screen and (min-width: 601px) and (max-width: 1024) {
    .hero_section {
        max-width: 100vw;
        padding: 3rem;
        flex-wrap: wrap-reverse;
        align-items: start;
    }

    .hero_contents {
        max-width: 35rem;
        justify-content: space-between;
    }

    .hero_button_container {
        margin-top: 4rem;
    }

    .hero_image {
        width: 15rem;
        height: 20rem;
    }

}

@media (max-width: 600px) {
    .hero_section {
        flex-direction: column-reverse;
        min-width: 100vw;
        max-height: 100vh;
        align-items: center;
        overflow-x: hidden;
        padding: 0.8rem;
        justify-content: space-evenly;
        scroll-margin-top: 2rem;
    }

    .hero_image {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
    }

    .hero_title {
        text-align: center;
        font-size: 1.1rem;
    }

    .hero_contents {
        text-align: center;
        max-width: 100vw;
        padding: 0 1rem;
    }

    .hero_para1 {
        text-align: start;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.2;
    }

    .skills_container {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }

    .skill_head {
        margin: 1rem;
    }

    .hero_button_container {
        gap: 1rem;
        padding: 0.4rem;
        margin: 1rem;
    }

    .hero_button {
        padding: 0.8rem;
        font-size: large;
    }

}