.project_section {
    max-width: 75rem;
    margin: auto;
}

.project_section h2 {
    text-align: center;
    text-decoration: underline;
    margin: 1rem;
}

.projects_container {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
}

.project_chip {
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.project_image {
    padding: 1rem;
    object-fit: cover;
    border-radius: 2rem;
}

.project_details {
    text-align: start;
    line-height: 1.5;
}

.project_details p {
    margin-bottom: 1rem;
}

.project_button {
    background-color: var(--accent);
    margin: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
}

.project_button p {
    margin: 0.5rem;
    font-size: large;
    font-weight: 700;
}



.project_button p {
    transition: transform 200ms linear;
}


.project_button p:hover {
    transform: translateY(-1.3px);
}

@media screen and (min-width: 601px) and (max-width: 1024) {
    .projects_container {
        gap: 1rem;
    }

    .project_chip {
        grid-template-columns: 1fr;
    }

    .project_image {
        width: 25rem;
    }
}

@media (max-width: 600px) {
    .proj_section {
        scroll-margin-top: 7rem;
    }

    .project_section {
        max-width: 100vw;
    }

    .project_section h2 {
        margin: 0.5rem;
    }

    .projects_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .project_chip {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        border-radius: 1.2rem;
    }

    .project_image {
        margin: auto;
        padding: 0.5rem;
        border-radius: 1.5rem;

    }

    .project_details p {
        font-weight: 600;
        font-size: medium;
        line-height: 1.4;
    }

    .project_button {
        background-color: var(--accent);
        margin: 1rem;
        border-radius: 0.5rem;
        align-items: center;
        color: #ffffff;
        display: flex;
        justify-content: center;
    }

    .project_button p {
        margin: 0.5rem;
        font-size: large;
        font-weight: 700;
    }

}