.project_section {
    max-width: 1200px;
    margin: auto;
}

.project_section h2 {
    text-align: center;
    text-decoration: underline;
    margin: 1rem;
}

.projects_container {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project_chip {
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project_details {
    text-align: start;
}

.project_image {
    width: 200px;
    height: 200px;
    background-color: var(--primary);
    border-radius: 0.5rem;
}