.project_section {
    max-width: 1200px;
    margin: auto;
}

.project_section h2 {
    text-align: center;
    text-decoration: underline;
    margin: 1rem;
}

.projects_container {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.project_chip {
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project_image {
    width: 250px;
    height: 300px;
    background-color: var(--primary);
    border-radius: 1rem;
}

.project_details {
    text-align: start;
    line-height: 1.5;
}

.project_details p {
    margin-bottom: 1rem;
}

.project_details a {
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    display: flex;
}

.project_details a>p {
    transition: transform 200ms linear;
}

.project_details a::before {
    content: "🌐";
}

.project_details a:visited {
    color: var(--accent);
}

.project_details a>p:hover {
    color: blue;
    transform: translateY(-1.3px);
}
